<div class="row">
  <div class="card m-3 bg-secondary" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Peliculas</h5>
      <p class="card-text">Seleccion de Peliculas</p>
      <%= button_to 'Ir a Peliculas', movies_index_path, method: :get, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="card m-3 bg-secondary " style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Series</h5>
      <p class="card-text">Seleccion de Series</p>
      <%= button_to 'Ir a Series', series_index_path, method: :get, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="card m-3 bg-secondary" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documentales</h5>
      <p class="card-text">Seleccion de Documentales</p>
      <%= button_to 'Ir a Documentales', documentaryfilm_index_path, method: :get, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
