<h1 class="text-light">Series</h1>
<%= button_to 'Agregar Serie', series_new_path, method: :get, class: "btn btn-secondary" %>
<div class="row">
  <% @series.each do |serie| %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center"><%= serie.name%></h5>
        <p class="card-text"><strong>Sinopsis:</strong> <%= serie.synopsis %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Director:</strong> <%= serie.director %></li>
      </ul>
    </div>
  <% end %>
</div>
